{ns hl7-fhir-us-davinci-pdex-plan-net.search.healthcareservice-organization,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "healthcareservice-organization",
         :fhir/url "http://hl7.org/fhir/us/davinci-pdex-plan-net/SearchParameter/healthcareservice-organization",
         :fhir/type "reference",
         :name "organization",
         :expr {:HealthcareService {:knife [["providedBy"]],
                                    :jsonpath ["$.\"providedBy\"[*]"],
                                    :data-types #{{:type "Reference",
                                                   :polymorphic? false}},
                                    :template :reference}}}}
