{ns hl7-fhir-us-davinci-pdex-plan-net.search.insuranceplan-type,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "insuranceplan-type",
         :fhir/url "http://hl7.org/fhir/us/davinci-pdex-plan-net/SearchParameter/insuranceplan-type",
         :fhir/type "token",
         :name "type",
         :expr {:InsurancePlan {:knife [["type"]],
                                :jsonpath ["$.\"type\"[*]"],
                                :data-types #{{:type "CodeableConcept",
                                               :polymorphic? false}},
                                :template :token}}}}
