{ns hl7-fhir-us-davinci-pdex-plan-net.search.insuranceplan-owned-by,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "insuranceplan-owned-by",
         :fhir/url "http://hl7.org/fhir/us/davinci-pdex-plan-net/SearchParameter/insuranceplan-owned-by",
         :fhir/type "reference",
         :name "owned-by",
         :expr {:InsurancePlan {:knife [["ownedBy"]],
                                :jsonpath ["$.\"ownedBy\"[*]"],
                                :data-types #{{:type "Reference",
                                               :polymorphic? false}},
                                :template :reference}}}}
