{ns hl7-fhir-us-davinci-pdex-plan-net.search.organization-name,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "organization-name",
         :fhir/url "http://hl7.org/fhir/us/davinci-pdex-plan-net/SearchParameter/organization-name",
         :fhir/type "string",
         :name "name",
         :expr {:Organization {:knife [["name"] ["alias"]],
                               :jsonpath ["$.\"name\"[*]"
                                          "$.\"alias\"[*]"],
                               :data-types #{{:type "string",
                                              :polymorphic? false}},
                               :template :string,
                               :sql {:where [:or
                                             [:ilike
                                              [:pg/cast
                                               [:pg/jsonb-path-query-array
                                                [:pg/sql
                                                 "{{table}}.resource"]
                                                [:pg/cast
                                                 "($.\"name\"[*]).** ? (@.type() == \"string\")"
                                                 :jsonpath]]
                                               :text]
                                              [:pg/sql "{{param}}"]]
                                             [:ilike
                                              [:pg/cast
                                               [:pg/jsonb-path-query-array
                                                [:pg/sql
                                                 "{{table}}.resource"]
                                                [:pg/cast
                                                 "($.\"alias\"[*]).** ? (@.type() == \"string\")"
                                                 :jsonpath]]
                                               :text]
                                              [:pg/sql "{{param}}"]]],
                                     :parameter-format "%\"?%"}}}}}
