{ns hl7-fhir-us-davinci-pdex-plan-net.search.organization-coverage-area,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "organization-coverage-area",
         :fhir/url "http://hl7.org/fhir/us/davinci-pdex-plan-net/SearchParameter/organization-coverage-area",
         :fhir/type "reference",
         :name "coverage-area",
         :expr {:Organization {:knife [["extension"
                                        {:url "http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/location-reference"}]],
                               :jsonpath ["$.\"extension\"?(@.\"url\"==\"http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/location-reference\")[*]"],
                               :data-types #{},
                               :template :reference}}}}
