{ns hl7-fhir-us-davinci-pdex-plan-net.search.practitionerrole-endpoint,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "practitionerrole-endpoint",
         :fhir/url "http://hl7.org/fhir/us/davinci-pdex-plan-net/SearchParameter/practitionerrole-endpoint",
         :fhir/type "reference",
         :name "endpoint",
         :expr {:PractitionerRole {:knife [["endpoint"]],
                                   :jsonpath ["$.\"endpoint\"[*]"],
                                   :data-types #{{:type "Reference",
                                                  :polymorphic? false}},
                                   :template :reference}}}}
