{ns hl7-fhir-us-davinci-pdex-plan-net,
 import
 #{hl7-fhir-us-davinci-pdex-plan-net.search.location-organization
   hl7-fhir-us-davinci-pdex-plan-net.value-set.PractitionerRoleVS
   hl7-fhir-us-davinci-pdex-plan-net.search.organization-endpoint
   hl7-fhir-us-davinci-pdex-plan-net.search.healthcareservice-endpoint
   hl7-fhir-us-davinci-pdex-plan-net.value-set.IndividualAndGroupSpecialtiesVS
   hl7-fhir-us-davinci-pdex-plan-net.search.organization-name
   hl7-fhir-us-davinci-pdex-plan-net.search.insuranceplan-name
   hl7-fhir-us-davinci-pdex-plan-net.search.location-partof
   hl7-fhir-us-davinci-pdex-plan-net.search.organizationaffiliation-primary-organization
   hl7-fhir-us-davinci-pdex-plan-net.search.practitionerrole-network
   hl7-fhir-us-core
   hl7-fhir-us-davinci-pdex-plan-net.value-set.OrgTypeVS
   hl7-fhir-us-davinci-pdex-plan-net.newpatients
   hl7-fhir-us-davinci-pdex-plan-net.value-set.DeliveryMethodVS
   hl7-fhir-us-davinci-pdex-plan-net.search.healthcareservice-service-category
   hl7-fhir-us-davinci-pdex-plan-net.value-set.AcceptingPatientsVS
   hl7-fhir-us-davinci-pdex-plan-net.search.location-address-postalcode
   hl7-fhir-us-davinci-pdex-plan-net.plannet-Location
   hl7-fhir-us-davinci-pdex-plan-net.search.endpoint-organization
   hl7-fhir-us-davinci-pdex-plan-net.plannet-Network
   hl7-fhir-r4-core
   hl7-fhir-us-davinci-pdex-plan-net.search.insuranceplan-owned-by
   hl7-fhir-us-davinci-pdex-plan-net.search.practitionerrole-period
   hl7-fhir-us-davinci-pdex-plan-net.communication-proficiency
   hl7-fhir-us-davinci-pdex-plan-net.value-set.MinEndpointConnectionTypeVS
   hl7-fhir-us-davinci-pdex-plan-net.search.organization-address
   hl7-fhir-us-davinci-pdex-plan-net.value-set.InsuranceProductTypeVS
   hl7-fhir-us-davinci-pdex-plan-net.search.practitioner-family-name
   hl7-fhir-us-davinci-pdex-plan-net.plannet-HealthcareService
   hl7-fhir-us-davinci-pdex-plan-net.plannet-InsurancePlan
   hl7-fhir-us-davinci-pdex-plan-net.search.organizationaffiliation-role
   hl7-fhir-us-davinci-pdex-plan-net.plannet-OrganizationAffiliation
   hl7-fhir-us-davinci-pdex-plan-net.search.practitioner-name
   hl7-fhir-us-davinci-pdex-plan-net.accessibility
   hl7-fhir-us-davinci-pdex-plan-net.search.organization-type
   hl7-fhir-us-davinci-pdex-plan-net.value-set.SpecialtiesVS
   hl7-fhir-us-davinci-pdex-plan-net.value-set.HealthcareServiceTypeVS
   hl7-fhir-us-davinci-pdex-plan-net.search.location-type
   hl7-fhir-us-davinci-pdex-plan-net.org-description
   hl7-fhir-us-davinci-pdex-plan-net.search.practitionerrole-organization
   hl7-fhir-us-davinci-pdex-plan-net.search.practitionerrole-endpoint
   hl7-fhir-us-davinci-pdex-plan-net.search.insuranceplan-plan-type
   hl7-fhir-us-davinci-pdex-plan-net.value-set.NetworkTypeVS
   hl7-fhir-us-davinci-pdex-plan-net.search.insuranceplan-administered-by
   hl7-fhir-us-davinci-pdex-plan-net.search.location-address-state
   hl7-fhir-us-davinci-pdex-plan-net.search.organizationaffiliation-location
   hl7-fhir-us-davinci-pdex-plan-net.plannet-Practitioner
   hl7-fhir-us-davinci-pdex-plan-net.network-reference
   hl7-fhir-us-davinci-pdex-plan-net.endpoint-usecase
   hl7-fhir-us-davinci-pdex-plan-net.search.practitionerrole-service
   hl7-fhir-us-davinci-pdex-plan-net.search.organization-partof
   hl7-fhir-us-davinci-pdex-plan-net.value-set.EndpointConnectionTypeVS
   hl7-fhir-us-davinci-pdex-plan-net.search.organizationaffiliation-service
   hl7-fhir-us-davinci-pdex-plan-net.search.practitionerrole-specialty
   hl7-fhir-us-davinci-pdex-plan-net.search.practitionerrole-role
   hl7-fhir-us-davinci-pdex-plan-net.value-set.EndpointPayloadTypeVS
   hl7-fhir-us-davinci-pdex-plan-net.value-set.QualificationStatusVS
   hl7-fhir-us-davinci-pdex-plan-net.search.organizationaffiliation-participating-organization
   hl7-fhir-us-davinci-pdex-plan-net.search.organizationaffiliation-period
   hl7-fhir-us-davinci-pdex-plan-net.value-set.HealthcareServiceCategoryVS
   hl7-fhir-us-davinci-pdex-plan-net.search.insuranceplan-coverage-area
   hl7-fhir-us-davinci-pdex-plan-net.search.location-address
   hl7-fhir-us-davinci-pdex-plan-net.value-set.IndividualSpecialtyAndDegreeLicenseCertificateVS
   hl7-fhir-us-davinci-pdex-plan-net.plannet-Organization
   hl7-fhir-us-davinci-pdex-plan-net.delivery-method
   hl7-fhir-us-davinci-pdex-plan-net.value-set.NonIndividualSpecialtyAndDegreeLicenseCertificateVS
   hl7-fhir-us-davinci-pdex-plan-net.search.practitioner-given-name
   hl7-fhir-us-davinci-pdex-plan-net.search.practitionerrole-practitioner
   hl7-fhir-us-davinci-pdex-plan-net.search.organizationaffiliation-endpoint
   hl7-fhir-us-davinci-pdex-plan-net.value-set.VirtualModalitiesVS
   hl7-fhir-us-davinci-pdex-plan-net.qualification
   hl7-fhir-us-davinci-pdex-plan-net.search.insuranceplan-identifier
   hl7-fhir-us-davinci-pdex-plan-net.search.healthcareservice-service-type
   hl7-fhir-us-davinci-pdex-plan-net.search.healthcareservice-specialty
   hl7-fhir-us-davinci-pdex-plan-net.value-set.NonIndividualSpecialtiesVS
   hl7-fhir-us-davinci-pdex-plan-net.value-set.OrganizationAffiliationRoleVS
   hl7-fhir-us-davinci-pdex-plan-net.search.healthcareservice-coverage-area
   hl7-fhir-us-davinci-pdex-plan-net.plannet-PractitionerRole
   hl7-fhir-us-davinci-pdex-plan-net.search.healthcareservice-organization
   hl7-fhir-us-davinci-pdex-plan-net.plannet-Endpoint
   hl7-fhir-us-davinci-pdex-plan-net.search.practitionerrole-location
   hl7-fhir-us-davinci-pdex-plan-net.search.location-address-city
   hl7-fhir-us-davinci-pdex-plan-net.via-intermediary
   hl7-fhir-us-davinci-pdex-plan-net.search.insuranceplan-type
   hl7-fhir-us-davinci-pdex-plan-net.value-set.EndpointUsecaseVS
   hl7-fhir-us-davinci-pdex-plan-net.practitioner-qualification
   hl7-fhir-us-davinci-pdex-plan-net.search.organizationaffiliation-specialty
   hl7-fhir-us-davinci-pdex-plan-net.value-set.InsurancePlanTypeVS
   hl7-fhir-us-davinci-pdex-plan-net.search.location-endpoint
   hl7-fhir-us-davinci-pdex-plan-net.value-set.LanguageProficiencyVS
   hl7-fhir-us-davinci-pdex-plan-net.value-set.SpecialtyAndDegreeLicenseCertificateVS
   hl7-fhir-us-davinci-pdex-plan-net.location-reference
   hl7-fhir-us-davinci-pdex-plan-net.search.organizationaffiliation-network
   hl7-fhir-us-davinci-pdex-plan-net.value-set.AccessibilityVS
   hl7-fhir-us-davinci-pdex-plan-net.search.healthcareservice-location
   hl7-fhir-us-davinci-pdex-plan-net.search.healthcareservice-name
   hl7-fhir-us-davinci-pdex-plan-net.contactpoint-availabletime
   hl7-fhir-us-davinci-pdex-plan-net.search.organization-coverage-area}}