{ns hl7-fhir-us-davinci-pdex-plan-net.value-set.AcceptingPatientsVS,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "Codes to identify if the practice is accepting new patients",
  :zen.fhir/version "0.5.26-1",
  :fhir/code-systems
  #{{:fhir/url
     "http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/AcceptingPatientsCS",
     :zen.fhir/content :bundled}},
  :uri
  "http://hl7.org/fhir/us/davinci-pdex-plan-net/ValueSet/AcceptingPatientsVS",
  :version "1.1.0",
  :ftr
  {:module "ig",
   :source-url "node_modules/hl7.fhir.us.davinci-pdex-plan-net",
   :source-type :ig,
   :ftr-path "ftr",
   :zen/package-name "hl7-fhir-us-davinci-pdex-plan-net",
   :tag "init"}}}