{ns hl7-fhir-us-davinci-pdex-plan-net.value-set.DeliveryMethodVS,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Codes for documenting delivery methods.",
            :zen.fhir/version "0.6.18-1",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/DeliveryMethodCS",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/us/davinci-pdex-plan-net/ValueSet/DeliveryMethodVS",
            :version "1.1.0",
            :ftr {:module "hl7-fhir-us-davinci-pdex-plan-net",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
