{ns hl7-fhir-us-davinci-pdex-plan-net.value-set.EndpointUsecaseVS,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "Codes for documenting business use case by a general grouping by business area.",
  :zen.fhir/version "0.5.26",
  :fhir/code-systems
  #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v3-ActReason",
     :zen.fhir/content :bundled}},
  :uri
  "http://hl7.org/fhir/us/davinci-pdex-plan-net/ValueSet/EndpointUsecaseVS",
  :version "1.1.0",
  :ftr
  {:module "ig",
   :source-url "node_modules/hl7.fhir.us.davinci-pdex-plan-net",
   :source-type :ig,
   :ftr-path "ftr",
   :zen/package-name "hl7-fhir-us-davinci-pdex-plan-net",
   :tag "init"}}}