{ns hl7-fhir-us-davinci-pdex-plan-net.value-set.EndpointUsecaseVS,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Codes for documenting business use case by a general grouping by business area.",
            :zen.fhir/version "0.6.17-4",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/v3-ActReason",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/us/davinci-pdex-plan-net/ValueSet/EndpointUsecaseVS",
            :version "1.1.0",
            :ftr {:module "hl7-fhir-us-davinci-pdex-plan-net",
                  :source-url "https://storage.googleapis.com",
                  :source-type :cloud-storage,
                  :ftr-path "ftr",
                  :tag "init",
                  :validation-index {:type :nippy,
                                     :file "index.nippy"}}}}
