{ns hl7-fhir-us-davinci-pdex-plan-net.value-set.InsuranceProductTypeVS,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "A distinct package of health insurance coverage benefits that are offered using a particular product network type.",
            :zen.fhir/version "0.6.15",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/InsuranceProductTypeCS",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/us/davinci-pdex-plan-net/ValueSet/InsuranceProductTypeVS",
            :version "1.1.0",
            :ftr {:module "ig",
                  :source-urls ["node_modules/hl7.fhir.us.davinci-pdex-plan-net"],
                  :source-type :igs,
                  :ftr-path "ftr",
                  :tag "init"}}}
