{ns hl7-fhir-us-davinci-pdex-plan-net.value-set.LanguageProficiencyVS,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Codes for documenting spoken language proficiency based on the Interagency Language Roundtable scale of abilities to communicate in a language.",
            :zen.fhir/version "0.6.7-4",
            :fhir/code-systems #{{:fhir/url "http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/LanguageProficiencyCS",
                                  :zen.fhir/content :bundled}},
            :uri "http://hl7.org/fhir/us/davinci-pdex-plan-net/ValueSet/LanguageProficiencyVS",
            :version "1.1.0",
            :ftr {:module "ig",
                  :source-urls ["node_modules/hl7.fhir.us.davinci-pdex-plan-net"],
                  :source-type :igs,
                  :ftr-path "ftr",
                  :tag "init"}}}
