{ns
 hl7-fhir-us-davinci-pdex-plan-net.value-set.NonIndividualSpecialtiesVS,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "Non-Individual Specialties from National Uniform Claim Committee (NUCC) Health Care Provider Taxonomy code set.",
  :zen.fhir/version "0.5.28-1",
  :fhir/code-systems
  #{{:fhir/url "http://nucc.org/provider-taxonomy",
     :zen.fhir/content :bundled}},
  :uri
  "http://hl7.org/fhir/us/davinci-pdex-plan-net/ValueSet/NonIndividualSpecialtiesVS",
  :version "1.1.0",
  :ftr
  {:module "ig",
   :source-url "node_modules/hl7.fhir.us.davinci-pdex-plan-net",
   :source-type :ig,
   :ftr-path "ftr",
   :tag "init"}}}