{ns hl7-fhir-us-davinci-pdex-plan-net.value-set.VirtualModalitiesVS,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc "Codes for virtual service delivery modalities .",
  :zen.fhir/version "0.5.27",
  :fhir/code-systems
  #{{:fhir/url
     "http://hl7.org/fhir/us/davinci-pdex-plan-net/CodeSystem/VirtualModalitiesCS",
     :zen.fhir/content :bundled}},
  :uri
  "http://hl7.org/fhir/us/davinci-pdex-plan-net/ValueSet/VirtualModalitiesVS",
  :version "1.1.0",
  :ftr
  {:module "ig",
   :source-url "node_modules/hl7.fhir.us.davinci-pdex-plan-net",
   :source-type :ig,
   :ftr-path "ftr",
   :tag "init"}}}