{ns hl7-fhir-us-davinci-pdex-plan-net.endpoint-usecase,
 import #{zen.fhir
          hl7-fhir-r4-core.uri
          hl7-fhir-r4-core.CodeableConcept
          hl7-fhir-us-davinci-pdex-plan-net.value-set.EndpointUsecaseVS},
 schema {:zen.fhir/version "0.6.19",
         :zen/tags #{zen/schema zen.fhir/structure-schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/endpoint-usecase",
         :require #{:type},
         :type zen/map,
         :zen/desc "EndpointUseCase is an enumeration of the specific use cases (service descriptions) supported by the endpoint",
         :keys {:type {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
                       :fhir/flags #{:MS},
                       :zen.fhir/value-set {:symbol hl7-fhir-us-davinci-pdex-plan-net.value-set.EndpointUsecaseVS/value-set,
                                            :strength :extensible},
                       :zen/desc "An indication of the type of services supported by the endpoint"},
                :standard {:confirms #{hl7-fhir-r4-core.uri/schema},
                           :fhir/flags #{:MS},
                           :zen/desc "A URI to a published standard describing the services supported by the endpoint (e.g. an HL7 implementation guide)"}}}}
