{ns hl7-fhir-us-davinci-pdex-plan-net.plannet-Organization,
 import
 #{hl7-fhir-r4-core.BackboneElement
   hl7-fhir-r4-core.code
   zen.fhir
   hl7-fhir-us-davinci-pdex-plan-net.value-set.OrgTypeVS
   hl7-fhir-r4-core.ContactPoint
   hl7-fhir-r4-core.boolean
   hl7-fhir-r4-core.string
   hl7-fhir-us-davinci-pdex-plan-net.org-description
   hl7-fhir-us-core.us-core-organization
   hl7-fhir-r4-core.instant
   hl7-fhir-us-davinci-pdex-plan-net.plannet-Organization
   hl7-fhir-r4-core.Meta
   hl7-fhir-r4-core.Reference
   hl7-fhir-r4-core.positiveInt
   hl7-fhir-r4-core.Element
   hl7-fhir-us-davinci-pdex-plan-net.qualification
   hl7-fhir-r4-core.geolocation
   hl7-fhir-r4-core.CodeableConcept
   hl7-fhir-r4-core.Identifier
   hl7-fhir-us-davinci-pdex-plan-net.via-intermediary
   hl7-fhir-r4-core.Address
   hl7-fhir-us-davinci-pdex-plan-net.contactpoint-availabletime},
 schema
 {:zen.fhir/version "0.5.33-1",
  :confirms
  #{hl7-fhir-us-core.us-core-organization/schema zen.fhir/Resource},
  :zen/tags #{zen.fhir/profile-schema zen/schema},
  :zen.fhir/profileUri
  "http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/plannet-Organization",
  :require #{:address :type},
  :type zen/map,
  :zen/desc
  "An organization is a formal or informal grouping of people or organizations with a common purpose, such as a company, institution, corporation, community group, or healthcare practice.\nGuidance:   When the contact is a department name, rather than a human (e.g., patient help line), include a blank family and given name, and provide the department name in contact.name.text",
  :keys
  {:_active {:confirms #{hl7-fhir-r4-core.Element/schema}},
   :address
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.Address/schema},
     :type zen/map,
     :keys
     {:geolocation
      {:confirms #{hl7-fhir-r4-core.geolocation/schema},
       :fhir/extensionUri
       "http://hl7.org/fhir/StructureDefinition/geolocation",
       :fhir/flags #{:MS}},
      :type
      {:confirms #{hl7-fhir-r4-core.code/schema}, :fhir/flags #{:MS}},
      :_type {:confirms #{hl7-fhir-r4-core.Element/schema}},
      :text
      {:confirms #{hl7-fhir-r4-core.string/schema},
       :fhir/flags #{:MS}},
      :_text {:confirms #{hl7-fhir-r4-core.Element/schema}}}},
    :minItems 1},
   :meta
   {:confirms #{hl7-fhir-r4-core.Meta/schema},
    :type zen/map,
    :keys
    {:lastUpdated {:confirms #{hl7-fhir-r4-core.instant/schema}},
     :_lastUpdated {:confirms #{hl7-fhir-r4-core.Element/schema}}},
    :require #{:lastUpdated}},
   :type
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
     :fhir/flags #{:MS},
     :zen.fhir/value-set
     {:symbol
      hl7-fhir-us-davinci-pdex-plan-net.value-set.OrgTypeVS/value-set,
      :strength :extensible}},
    :minItems 1},
   :active {:match true, :confirms #{hl7-fhir-r4-core.boolean/schema}},
   :identifier
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.Identifier/schema},
     :type zen/map,
     :keys
     {:type
      {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
       :fhir/flags #{:MS}}}}},
   :qualification
   {:type zen/vector,
    :every
    {:confirms
     #{hl7-fhir-us-davinci-pdex-plan-net.qualification/schema},
     :fhir/extensionUri
     "http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/qualification",
     :fhir/flags #{:MS},
     :zen/desc "Qualification"}},
   :telecom
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.ContactPoint/schema},
     :type zen/map,
     :keys
     {:contactpoint-availabletime
      {:type zen/vector,
       :every
       {:confirms
        #{hl7-fhir-us-davinci-pdex-plan-net.contactpoint-availabletime/schema},
        :fhir/extensionUri
        "http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/contactpoint-availabletime",
        :fhir/flags #{:MS}}},
      :via-intermediary
      {:type zen/vector,
       :every
       {:confirms
        #{hl7-fhir-us-davinci-pdex-plan-net.via-intermediary/schema},
        :fhir/extensionUri
        "http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/via-intermediary",
        :fhir/flags #{:MS},
        :zen/desc "Via Intermediary"}},
      :system
      {:confirms #{hl7-fhir-r4-core.code/schema}, :fhir/flags #{:MS}},
      :_system {:confirms #{hl7-fhir-r4-core.Element/schema}},
      :value
      {:confirms #{hl7-fhir-r4-core.string/schema},
       :fhir/flags #{:MS}},
      :_value {:confirms #{hl7-fhir-r4-core.Element/schema}},
      :rank
      {:confirms #{hl7-fhir-r4-core.positiveInt/schema},
       :fhir/flags #{:MS}},
      :_rank {:confirms #{hl7-fhir-r4-core.Element/schema}}}}},
   :partOf
   {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
    :fhir/flags #{:MS},
    :zen.fhir/reference
    {:refers
     #{hl7-fhir-us-davinci-pdex-plan-net.plannet-Organization/schema}}},
   :endpoint
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
     :fhir/flags #{:MS},
     :zen.fhir/reference {:refers #{}}}},
   :contact
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
     :type zen/map,
     :keys
     {:telecom
      {:type zen/vector,
       :every
       {:confirms #{hl7-fhir-r4-core.ContactPoint/schema},
        :type zen/map,
        :keys
        {:contactpoint-availabletime
         {:type zen/vector,
          :every
          {:confirms
           #{hl7-fhir-us-davinci-pdex-plan-net.contactpoint-availabletime/schema},
           :fhir/extensionUri
           "http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/contactpoint-availabletime"}},
         :via-intermediary
         {:type zen/vector,
          :every
          {:confirms
           #{hl7-fhir-us-davinci-pdex-plan-net.via-intermediary/schema},
           :fhir/extensionUri
           "http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/via-intermediary",
           :zen/desc "Via Intermediary"}},
         :system
         {:confirms #{hl7-fhir-r4-core.code/schema},
          :fhir/flags #{:MS}},
         :_system {:confirms #{hl7-fhir-r4-core.Element/schema}},
         :value
         {:confirms #{hl7-fhir-r4-core.string/schema},
          :fhir/flags #{:MS}},
         :_value {:confirms #{hl7-fhir-r4-core.Element/schema}},
         :use
         {:confirms #{hl7-fhir-r4-core.code/schema},
          :fhir/flags #{:MS}},
         :_use {:confirms #{hl7-fhir-r4-core.Element/schema}}},
        :fhir/flags #{:MS}}}},
     :fhir/flags #{:MS}}},
   :org-description
   {:confirms
    #{hl7-fhir-us-davinci-pdex-plan-net.org-description/schema},
    :fhir/extensionUri
    "http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/org-description",
    :fhir/flags #{:MS},
    :zen/desc "Organization Description"}},
  :zen.fhir/type "Organization"}}