{ns hl7-fhir-us-davinci-pdex-plan-net.plannet-Network,
 import
 #{hl7-fhir-r4-core.BackboneElement
   hl7-fhir-r4-core.code
   zen.fhir
   hl7-fhir-r4-core.ContactPoint
   hl7-fhir-r4-core.boolean
   hl7-fhir-r4-core.string
   hl7-fhir-us-core.us-core-organization
   hl7-fhir-r4-core.instant
   hl7-fhir-us-davinci-pdex-plan-net.value-set.NetworkTypeVS
   hl7-fhir-r4-core.HumanName
   hl7-fhir-us-davinci-pdex-plan-net.plannet-Organization
   hl7-fhir-r4-core.Meta
   hl7-fhir-r4-core.Reference
   hl7-fhir-r4-core.Element
   hl7-fhir-us-davinci-pdex-plan-net.plannet-Endpoint
   hl7-fhir-r4-core.CodeableConcept
   hl7-fhir-r4-core.Identifier
   hl7-fhir-us-davinci-pdex-plan-net.via-intermediary
   hl7-fhir-us-davinci-pdex-plan-net.location-reference
   hl7-fhir-us-davinci-pdex-plan-net.contactpoint-availabletime},
 schema
 {:zen.fhir/version "0.5.26-2",
  :confirms
  #{hl7-fhir-us-core.us-core-organization/schema zen.fhir/Resource},
  :zen/tags #{zen.fhir/profile-schema zen/schema},
  :zen.fhir/profileUri
  "http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/plannet-Network",
  :require #{:type :partOf},
  :type zen/map,
  :zen/desc
  "A Network refers to a healthcare provider insurance network. A healthcare provider insurance network is an aggregation of organizations and individuals that deliver a set of services across a geography through health insurance products/plans. A network is typically owned by a payer.\n\nIn the PlanNet IG, individuals and organizations are represented as participants in a PLan-Net Network through the practitionerRole and Plan-Net-organizationAffiliation resources, respectively.",
  :keys
  {:_active {:confirms #{hl7-fhir-r4-core.Element/schema}},
   :meta
   {:confirms #{hl7-fhir-r4-core.Meta/schema},
    :type zen/map,
    :keys
    {:lastUpdated {:confirms #{hl7-fhir-r4-core.instant/schema}},
     :_lastUpdated {:confirms #{hl7-fhir-r4-core.Element/schema}}},
    :require #{:lastUpdated}},
   :type
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
     :fhir/flags #{:MS},
     :zen.fhir/value-set
     {:symbol
      hl7-fhir-us-davinci-pdex-plan-net.value-set.NetworkTypeVS/value-set,
      :strength :required}},
    :minItems 1,
    :maxItems 1},
   :active
   {:const {:value true},
    :confirms #{hl7-fhir-r4-core.boolean/schema}},
   :identifier
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.Identifier/schema},
     :type zen/map,
     :keys
     {:type
      {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
       :fhir/flags #{:MS}}}}},
   :location-reference
   {:type zen/vector,
    :every
    {:confirms
     #{hl7-fhir-us-davinci-pdex-plan-net.location-reference/schema},
     :fhir/extensionUri
     "http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/location-reference",
     :fhir/flags #{:MS},
     :zen/desc "Network coverage area"}},
   :telecom
   {:type zen/vector,
    :every {:confirms #{hl7-fhir-r4-core.ContactPoint/schema}},
    :maxItems 0},
   :partOf
   {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
    :fhir/flags #{:MS},
    :zen.fhir/reference
    {:refers
     #{hl7-fhir-us-davinci-pdex-plan-net.plannet-Organization/schema}},
    :zen/desc "The organization that manages this network"},
   :endpoint
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
     :fhir/flags #{:MS},
     :zen.fhir/reference
     {:refers
      #{hl7-fhir-us-davinci-pdex-plan-net.plannet-Endpoint/schema}}}},
   :contact
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
     :type zen/map,
     :keys
     {:name
      {:confirms #{hl7-fhir-r4-core.HumanName/schema},
       :fhir/flags #{:MS}},
      :telecom
      {:type zen/vector,
       :every
       {:confirms #{hl7-fhir-r4-core.ContactPoint/schema},
        :type zen/map,
        :keys
        {:contactpoint-availabletime
         {:type zen/vector,
          :every
          {:confirms
           #{hl7-fhir-us-davinci-pdex-plan-net.contactpoint-availabletime/schema},
           :fhir/extensionUri
           "http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/contactpoint-availabletime"}},
         :via-intermediary
         {:type zen/vector,
          :every
          {:confirms
           #{hl7-fhir-us-davinci-pdex-plan-net.via-intermediary/schema},
           :fhir/extensionUri
           "http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/via-intermediary",
           :zen/desc "Via Intermediary"}},
         :system
         {:confirms #{hl7-fhir-r4-core.code/schema},
          :fhir/flags #{:MS}},
         :_system {:confirms #{hl7-fhir-r4-core.Element/schema}},
         :value
         {:confirms #{hl7-fhir-r4-core.string/schema},
          :fhir/flags #{:MS}},
         :_value {:confirms #{hl7-fhir-r4-core.Element/schema}}},
        :fhir/flags #{:MS}}}},
     :fhir/flags #{:MS}}}},
  :zen.fhir/type "Organization"}}