{ns hl7-fhir-us-davinci-pdex-plan-net.plannet-Network,
 import #{zen.fhir
          hl7-fhir-us-core.us-core-organization
          hl7-fhir-us-davinci-pdex-plan-net.value-set.NetworkTypeVS
          hl7-fhir-us-davinci-pdex-plan-net.plannet-Organization
          hl7-fhir-us-davinci-pdex-plan-net.plannet-Endpoint
          hl7-fhir-us-davinci-pdex-plan-net.via-intermediary
          hl7-fhir-us-davinci-pdex-plan-net.location-reference
          hl7-fhir-us-davinci-pdex-plan-net.contactpoint-availabletime},
 schema {:zen.fhir/version "0.6.29",
         :confirms #{hl7-fhir-us-core.us-core-organization/schema
                     zen.fhir/Resource},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/plannet-Network",
         :require #{:type :partOf},
         :type zen/map,
         :zen/desc "A Network refers to a healthcare provider insurance network. A healthcare provider insurance network is an aggregation of organizations and individuals that deliver a set of services across a geography through health insurance products/plans. A network is typically owned by a payer.\n\nIn the PlanNet IG, individuals and organizations are represented as participants in a PLan-Net Network through the practitionerRole and Plan-Net-organizationAffiliation resources, respectively.",
         :keys {:meta {:type zen/map, :require #{:lastUpdated}},
                :type {:type zen/vector,
                       :every {:fhir/flags #{:MS},
                               :zen.fhir/value-set {:symbol hl7-fhir-us-davinci-pdex-plan-net.value-set.NetworkTypeVS/value-set,
                                                    :strength :required}},
                       :minItems 1,
                       :maxItems 1},
                :active {:const {:value true}},
                :identifier {:type zen/vector,
                             :every {:type zen/map,
                                     :keys {:type {:fhir/flags #{:MS}}}}},
                :location-reference {:type zen/vector,
                                     :every {:confirms #{hl7-fhir-us-davinci-pdex-plan-net.location-reference/schema},
                                             :fhir/extensionUri "http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/location-reference",
                                             :fhir/flags #{:MS},
                                             :zen/desc "Network coverage area"}},
                :telecom {:type zen/vector, :maxItems 0},
                :partOf {:fhir/flags #{:MS},
                         :confirms #{zen.fhir/Reference},
                         :zen.fhir/reference {:refers #{hl7-fhir-us-davinci-pdex-plan-net.plannet-Organization/schema}},
                         :zen/desc "The organization that manages this network"},
                :endpoint {:type zen/vector,
                           :every {:fhir/flags #{:MS},
                                   :confirms #{zen.fhir/Reference},
                                   :zen.fhir/reference {:refers #{hl7-fhir-us-davinci-pdex-plan-net.plannet-Endpoint/schema}}}},
                :contact {:type zen/vector,
                          :every {:type zen/map,
                                  :keys {:name {:fhir/flags #{:MS}},
                                         :telecom {:type zen/vector,
                                                   :every {:type zen/map,
                                                           :keys {:contactpoint-availabletime {:type zen/vector,
                                                                                               :every {:confirms #{hl7-fhir-us-davinci-pdex-plan-net.contactpoint-availabletime/schema},
                                                                                                       :fhir/extensionUri "http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/contactpoint-availabletime"}},
                                                                  :via-intermediary {:type zen/vector,
                                                                                     :every {:confirms #{hl7-fhir-us-davinci-pdex-plan-net.via-intermediary/schema},
                                                                                             :fhir/extensionUri "http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition/via-intermediary",
                                                                                             :zen/desc "Via Intermediary"}},
                                                                  :system {:fhir/flags #{:MS}},
                                                                  :value {:fhir/flags #{:MS}}},
                                                           :fhir/flags #{:MS}}}},
                                  :fhir/flags #{:MS}}}},
         :zen.fhir/type "Organization"}}
